{% extends "base.html" %}

{% block content %}
    <h1>Welcome to My Site</h1>
    <p>This is the home page.</p>
    <h2>Products</h2>
    <ul class="list-unstyled">
        {% for product in products %}
            <li class="mb-4">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price }}</p>
                <p>Category: {{ product.category }}</p>
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image img-thumbnail">
            </li>
            {% empty %}
            <li>No products available.</li>
        {% endfor %}
    </ul>
{% endblock %}