{% extends 'base.html' %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm h-100">
                    <img src="{{ product.image.url }}" class="bd-placeholder-img card-img-top" alt="{{ product.name }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="mt-auto">
                            <div class="btn-group d-flex justify-content-center">
                                <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-sm btn-outline-secondary mx-1">View</a>
                                <a href="{% url 'catalog:product_edit' product.pk %}" class="btn btn-sm btn-outline-secondary mx-1">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <small>1 min ago</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
